<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Card Component</title>
        <link rel="stylesheet" href="..\resources\css\card.css" type="text/css" >
        <link rel="stylesheet" href="..\resources\css\style.css" type="text/css" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="card--theme-1">
            <img src="https://via.placeholder.com/240x240" alt="card image"/>
            <h3>Card Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum lacus viverra 
                libero facilisis porta. Suspendisse aliquet varius pretium.
            </p>
        </section>
    </body>
</html>