<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CTA Component</title>
        <link rel="stylesheet" href="..\resources\css\cta.css" type="text/css" >
        <link rel="stylesheet" href="..\resources\css\style.css" type="text/css" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="cta--theme-1">
            <div>
                <h3>Ready To Get Started?</h3>
                <p>Try out our services for free and find out which plan is best for you.</p>
                <button><a href="https://www.google.com" target="_blank">Get Started</a></button>
            </div>
        </section>
    </body>
</html>