:root{
    --card-font-family:sans-serif;
    --card-font-color: #3e3e3e;
}

.card--theme-1{
    background-color: white;
    font-family: var(--card-font-family);
    color: var(--card-font-color);
    border-radius: 10px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
    width: 250px;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card--theme-1 > img {
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.card--theme-1 > p{
    padding:0 10px 10px;
    font-size: 14px;
    font-style: italic;
}

.card--theme-1 > h3{
    padding: 10px;
}

label{
    margin-bottom: 10px;
}

