
body{
    /*use shorthand here*/
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2, h4{
    font-style: italic;
    text-decoration: underline;
}

h4{
    font-size:12px;

}

.reviews{
    text-align: center;
}

.reviews p{
    font-size: 18px;
    font-style: italic;
}

.review{
    padding:30px;
}

.review q{
    color:rgb(169, 28, 28);
}

.review-section{
    display: flex;
    padding-left:100px;
    padding-right: 100px;
}

button{
    background-color: rgb(3, 58, 58);
    color:white;
    width: 200px;
    padding:5px;
}

.site-button{
    background-color: rgb(3, 58, 58);
    color:white;
    width: 100px;
    padding:5px;
}